# Docker files
Dockerfile
.dockerignore

# Ignore node_modules directory
node_modules

# Ignore build artifacts
.build
.next

# Ignore vim artifacts
.git
.gitignore
.husky
.lintstagedrc.json

# Ignore development files
.DS_Store
.env
.env.local
.env.*.local

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vim
*~
*.swp
*.swo
*.swn

# Exclude documentation files
README.md
docs/
